// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0d6efd;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #3c4927;
$gray: #a9aaa8;
$light-gray: #F4F4F4;
$white: #fffef9;
$light-green: #858e79;
$black: #0c0c0c;
