// Specific CSS for your home-page
body{
  min-height: 400px;
}
.btn:hover{
  background-color: #858e79;
  border: none;
}

.btn {
  border-radius: 4px;
}

.filter{
  border: 1px solid red;
}

.form-group{
  border: 1px solid blue;
  border-radius: 4px;
}

