<p style="color: green"><%= notice %></p>
<h1>FutWear</h1><br>

<h3>Shop now</h3>

<%= render 'list', shirts: @shirts %>

<% @shirts.each do |shirt| %>
<% end %>

<%= link_to "Inserir nova camisa", new_shirt_path %>
