<p style="color: green"><%= notice %></p>

<% if @shirt %>
  <%= render partial: 'shirt', locals: { shirt: @shirt } %>
  <!-- Add the button here -->
  <%= link_to "comprar", checkout_orders_path(shirt_id: @shirt.id, price: @shirt.price), class: "btn btn-primary" %>
  <% else %>
  <p>Shirt not found</p>
<% end %>

<%= button_to "Delete this shirt", @shirt, method: :delete %>
