.banner {
  width: 100%;
  text-align: center; /* Centraliza a imagem horizontalmente */
  margin-bottom: 20px; /* Espaçamento abaixo do banner */
}

.banner img {
  max-width: 100%;
  height: auto; /* Mantém a proporção da imagem */
}
